<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="maFichePersonnageJDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <maFichePersonnageJDR.Properties.Settings>
            <setting name="Physique" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mental" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Social" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Adresse" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Agilité" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Animale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Artisanat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Botanique" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnGeographiques" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnHistoriques" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnMagiques" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnReligieuses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Crochetage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Diplomatie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Escalade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Explosifs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Force" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intimidation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Langages" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mecanique" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Medecine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Natation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Perception" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Perspicacité" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Persuasion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Psyche" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reflexes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vigueur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Volonte" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PV" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Energie" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Attributs" serializeAs="String">
                <value />
            </setting>
            <setting name="Prenom" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Nom" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Race" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Niveau" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Sexe" serializeAs="String">
                <value />
            </setting>
            <setting name="Histoire" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Langues" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="ChargeMax" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="VitesseDepla" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Or" serializeAs="String">
                <value />
            </setting>
            <setting name="Argent" serializeAs="String">
                <value />
            </setting>
            <setting name="Cuivre" serializeAs="String">
                <value />
            </setting>
            <setting name="Inventaires" serializeAs="String">
                <value />
            </setting>
            <setting name="Discretion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sortilèges" serializeAs="String">
                <value />
            </setting>
            <setting name="CheminImage" serializeAs="String">
                <value />
            </setting>
            <setting name="Endurance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Marchandage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Charme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Prestance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Escamotage" serializeAs="String">
                <value>0</value>
            </setting>
        </maFichePersonnageJDR.Properties.Settings>
    </userSettings>
</configuration>
