<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="maFichePersonnageJDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <maFichePersonnageJDR.Properties.Settings>
            <setting name="Physique" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mental" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Social" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dexterite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Agilité" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dressage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Artisanat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnNature" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnGeographiques" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnHistoriques" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnMagiques" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnReligieuses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Crochetage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Diplomatie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Escalade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Explosifs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Force" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intimidation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Decryptage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mecanique" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Medecine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Natation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Perception" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Perspicacité" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Persuasion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Esprit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reflexes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vigueur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Volonte" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Energie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Attributs" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Prenom" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Nom" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Race" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Niveau" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sexe" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Histoire" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Langues" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="ChargeMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VitesseDepla" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Or" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Argent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cuivre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Inventaires" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Discretion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sortilèges" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="CheminImage" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Endurance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Marchandage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Charme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Prestance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Escamotage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VNScramasax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNEpeeCourte" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNEpeeLongue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNGlaive" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNLatte" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSabreCourbe" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNContus" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNJavelot" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFourche" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSarisse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNTrident" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCouteau" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNDague" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFaucilleGuerre" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNDagueAssassin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFrancisque" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNArc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNArbalete" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFronde" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFouet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFaucilleChaine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBatonChene" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSceptre" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSpangenhelm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCoiffeMailles" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNMorion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCerveliere" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNChapelFer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCasqueBarbare" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNVetements" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBroigne" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCataphracte" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCuirasseFer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNRobeCuir" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCuirasseBronze" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNGantsMailles" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNGantelets" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNMitaines" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNMitons" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCuissardesFer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNPantalonToile" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCnemide" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSandales" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNChaussuresCuir" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNEcu" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNPavois" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBouclierAmande" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBouclierBronze" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNPelta" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNTorche" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCorde" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNOutre" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSac" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNTente" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Memoire" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Provocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PointsExp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChargePortee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VNEpeeBois" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNEpeeBatarde" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNHacheBucheron" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNMassueChene" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNMarteauForgeron" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSabatons" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCapeElfique" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCanneAqua" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBaguetteFeu" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBtonCeleste" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNScreptreTerre" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBatonNature" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCanneLumiere" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNBaguetteInfernale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNSceptreNeutralite" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNMouchoir" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCouverture" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNPlanteMedicinale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNContrePoison" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFlecheBois" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFlecheFer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNFlecheArgent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCarreauBois" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNCarreauFer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VNPierre" serializeAs="String">
                <value>1</value>
            </setting>
        </maFichePersonnageJDR.Properties.Settings>
    </userSettings>
</configuration>
